@model IEnumerable<Service.ViewModels.RegistratedCarsGroup>

@{
    ViewBag.Title = "Registered cars";
}

<h2>Vehicle statistics</h2>

<table>
    <tr>
        <th>
           Name


        </th>


        <th>
            Vehicle Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @item.VehicleCount
            </td>
        </tr>
    }
</table>