@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MONO SOFTWARE</h1>
    <p class="lead">Mono Software is a free platform for register and check your car.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p2>
            “Self-driving cars are the natural extension of active safety and obviously something we should do.” ~ Elon Musk
        <p2>
       
    </div>
    <div class="col-md-4">
        <h2>Get more quotes</h2>
        <p><a class="btn btn-default" href="https://www.invajy.com/car-quotes/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to register?</h2>
        <p><a class="btn btn-default" href="https://www.progressive.com/lifelanes/on-the-road/five-things-to-know-about-your-car/">Learn more &raquo;</a></p>
    </div>
</div>